ENVIRONMENT=development
HTTP_SERVER_ADDRESS=0.0.0.0:8082
TOTP_ISSURE=
EMAIL_SENDER_ADDRESS=
EMAIL_SENDER_PASSWORD=
SMTP_AUTH_ADDRESS=
SMTP_SERVER_ADDRESS=
KMS_RESOURCE_LOCATION=
PASSCODE_EXPIRE_PERIOD=
KEY_PHRASE=
KEY_SECRET_SHARES=
KEY_THRESHOLD_SHARES=
PRIVATE_KEY_FULL_PATH=
PUBLICKEY_KEY_FULL_PATH=
ISSUER_BASE_URL=http://localhost:3001
BASIC_AUTH_USERNAME=
BASIC_AUTH_PASSWORD=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DBNAME=
MONGODB_PROTOCOL=
MONGODB_HOST=
MONGODB_PORT=
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_DBNAME=
MONGODB_PORT=